.contact-me {
  width: 260px;
  height: 70px;
  background-color: var(--text-secondary);
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.3em;
  font-family: var(--header-font-family);
}
