.container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 26px;
  overflow: hidden;
  box-shadow: 0px 11px 28px 12px rgba(0, 0, 0, 0.11);
  margin: auto auto;
  margin-top: 24px;
}

.cover-image {
  width: auto;
}

.techstack-container {
  display: flex;
  padding: 10px 24px;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  padding-bottom: 16px;
}

.title {
  font-family: var(--header-font-family);
  font-weight: bold;
  padding: 10px 24px;
}

.description {
  font-family: var(--header-font-family);
  padding: 5px 24px;
  min-height: 50px;
}

.pill {
  font-family: var(--code-font-family);
  font-size: 13px;
  background-color: var(--pill);
  padding: 10px 12px;
  border-radius: 25px;
}

.link-container {
  display: flex;
  padding: 10px 24px;
  justify-content: flex-end;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
  color: var(--text-secondary);
}
