.container {
  margin: 0 10em;
  margin-top: 5em;
  overflow: hidden;
}

.heading {
  font-family: FiraCode-Regular;
}

.number {
  color: var(--text-secondary);
  font-weight: normal;
  margin-right: 10px;
}

.paragraph {
  font-size: 27px;
}

.end-heading {
  text-align: right;
}

.sub-heading {
  font-family: var(--header-font-family);
  color: var(--text-secondary);
}

@media only screen and (max-width: 1300px) {
  .container {
    margin: 0 4em;
    margin-top: 3em;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 3em;
  }

  .heading {
    font-family: FiraCode-Regular;
    font-size: 1.3em;
  }

  .paragraph {
    font-size: 18px;
  }
}
