.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 2em;
  margin-bottom: 2em;
}

.end-heading {
  align-self: flex-end;
}

.button-container {
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .form-row {
    row-gap: 2em;
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
  }
}
