.container {
  margin-top: 12em;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1.3fr 7fr 3fr 5fr 1.3fr;
  grid-template-rows: 1.75fr 1fr;
  grid-template-areas:
    "sb-left heading heading image sb-right"
    "sb-left desc desc desc sb-right";
}

.sidebar-left {
  grid-area: sb-left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.sidebar-right {
  grid-area: sb-right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.sideway-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-bottom: 26px;
}

.self-image {
  display: flex;
  grid-area: image;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}

.self-image > img {
  width: 26em;
}

.img-custom-border-container {
  position: absolute;
  width: 22em;
  height: 16em;
  margin-top: -7em;
  margin-left: 8em;
}

.img-custom-border-right {
  width: 5px;
  background-color: var(--lines);
  height: 100%;
  border-radius: 27px;
  right: 0;
  position: absolute;
  top: 0;
}

.img-custom-border-top {
  height: 5px;
  background-color: var(--lines);
  width: 100%;
  border-radius: 27px;
}

.heading {
  font-family: Poppins-Regular;
  grid-area: heading;
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1em;
  height: 100%;
}

.heading > h1 {
  margin: 0px 0px;
}

.heading-webdev {
  color: var(--text-secondary);
}

.description {
  grid-area: desc;
  font-size: 30px;
  margin-right: 1em;
  margin-left: 1em;
}

.icon {
  width: 50px;
  height: 50px;
  color: var(--text-secondary);
  margin-bottom: 24px;
  cursor: pointer;
}

.vLine {
  width: 3px;
  background-color: var(--lines);
  height: 156px;
  border-radius: 25px;
}

.hLine {
  width: 156px;
  background-color: var(--lines);
  height: 3px;
  border-radius: 25px;
}

.desc-links {
  display: none;
}

@media only screen and (max-width: 1350px) {
  .container {
    margin: 7em 3em;
    grid-template-columns: minmax(545px, 2fr) auto;
    grid-template-rows: 1.75fr 1fr;
    grid-template-areas:
      "heading image"
      "desc  desc";
  }

  .self-image {
    margin-right: 60px;
    padding: 0;
    margin-left: 0;
  }

  .self-image > img {
    width: 24em;
  }

  .sidebar-left {
    display: none;
  }

  .sidebar-right {
    display: none;
  }

  .img-custom-border-container {
    width: 19em;
    height: 16em;
    margin-top: -7em;
    margin-left: 11em;
  }

  .heading {
    font-size: 2em;
  }

  .description {
    font-size: 24px;
  }

  .icon {
    width: 36px;
    height: 36px;
    color: var(--text-secondary);
    margin-bottom: 16px;
    cursor: pointer;
  }

  .desc-links {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
  }

  .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1050px) {
  .container {
    margin: 7em 3em;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "image"
      "heading"
      "desc";
  }
}

@media only screen and (max-width: 768px) {
  .img-custom-border-container {
    display: none;
  }

  .self-image {
    margin: 0px 20px;
  }

  .self-image > img {
    width: 100%;
  }

  .container {
    margin: 0;
    margin-bottom: 0px;
  }

  .heading {
    font-size: 1.2em;
    justify-content: center;
  }

  .hLine {
    display: none;
  }
}
