.small {
  height: 20px;
}

.medium {
  height: 30px;
}

.large {
  height: 100px;
}

.iconContainer {
  display: flex;
  color: white;
}

.iconContainer > svg {
  width: 100%;
  height: 100%;
}

.Express > svg {
  background: white;
  border-radius: 13px;
  padding: 0 2px 0 2px;
}

.React > svg {
  color: rgb(88 196 220 / 1);
}
