.burger-menu {
  display: none;
}

.nav-menu {
  display: none;
}

.item-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--code-font-family);
  font-size: 25px;
  cursor: pointer;
  margin-top: 36px;
  margin-left: 36px;
  margin-right: 36px;
}

.number {
  color: var(--text-secondary);
  margin-right: 10px;
}

.item {
  margin-right: 24px;
}

.underline {
  background-color: var(--lines);
  height: 5px;
  border-radius: 27px;
  margin-top: 12px;
  width: 80px;
  position: absolute;
}

.burger-icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: var(--text-secondary);
}

.theme-icon-dark {
  fill: var(--text-secondary);
  width: 32px;
  height: 32px;
}

.theme-icon-light {
  stroke: var(--text-secondary);
  width: 32px;
  height: 32px;
}

.theme-container {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

@media only screen and (max-width: 1300px) {
  .item-container {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .item-container {
    font-size: 16px;
    display: none;
  }

  .burger-menu {
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    font-family: var(--code-font-family);
    font-size: 25px;
    margin-top: 36px;
    margin-left: 36px;
    margin-right: 36px;
  }

  .nav-menu {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 30px;
    background: var(--background);
    opacity: 0;
    visibility: hidden;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    font-family: var(--code-font-family);
    transition: all 0.3s;
    overflow: hidden;
    row-gap: 24px;
  }

  .underline {
    width: calc(100% - 6em);
  }

  .nav-open {
    visibility: visible;
    opacity: 1;
    z-index: 999;
  }

  .item {
    margin-bottom: 10px;
    cursor: pointer;
    margin: 0;
  }

  .theme-icon-dark {
    width: 48px;
    height: 48px;
  }

  .theme-icon-light {
    width: 48px;
    height: 48px;
  }
}
