.dialog {
  border: 0;
  padding: 0;
  outline: none;
  background-color: var(--background);
  color: var(--text-primary);
  border-radius: 24px;
  width: 500px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

.description-container {
  font-family: var(--header-font-family);
  padding: 0 24px 0 24px;
}

.coverImage {
  max-width: 500px;
}

.coverVideo {
  height: 300px;
}

.header {
  padding: 0 24px 0 24px;
}

.mediaContainer {
  margin-bottom: 24px;
}
