body {
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

@font-face {
  font-family: Poppins-Regular;
  font-style: normal;
  src: local("Poppins-Regular"), url("./fonts/Poppins-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: GlacialIndifference-Regular;
  font-style: normal;
  src: local("GlacialIndifference-Regular"), url("./fonts/GlacialIndifference-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  src: local("Inter-Regular"), url("./fonts/Inter-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: FiraCode-Regular;
  font-style: normal;
  src: local("FiraCode-Regular"), url("./fonts/FiraCode-Regular.ttf");
  font-display: swap;
}

:root {
  font-family: GlacialIndifference-Regular, "sans-serif";
  --code-font-family: FiraCode-Regular, "Courier New", monospace;
  --header-font-family: Poppins-Regular, "Arial", "sans-serif";
  --normal-font-family: GlacialIndifference-Regular, "Arial", "sans-serif";
  --background: #fcfcfc;
  --text-primary: #383838;
  --text-secondary: #646aff;
  --lines: #464dff;
  --accent: purple;
  --pill: rgba(0, 0, 0, 0.1);
  --background-img-url: url(./assets/circle-scatter-bg-light.svg);
}

:root .szh-menu__arrow {
  background-color: var(--text-secondary);
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

[data-theme="DARK"] {
  --background: #1d2c33;
  --text-primary: #f5f5f5;
  --text-secondary: #00d1c7;
  --lines: #00f2e5;
  --accent: darkred;
  --pill: rgba(255, 255, 255, 0.2);
  --background-img-url: url(./assets/circle-scatter-bg-dark.svg);
}
